<div class="bgImg"></div>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 p-4 d-flex justify-content-center">
    <h1>About Us and Our plan</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, a voluptatum! Aut eveniet, vitae amet non blanditiis doloremque ducimus distinctio dolorem qui soluta ex suscipit nisi deserunt! Ab, temporibus enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, a voluptatum! Aut eveniet, vitae amet non blanditiis doloremque ducimus distinctio dolorem qui soluta ex suscipit nisi deserunt! Ab, temporibus enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, a voluptatum! Aut eveniet, vitae amet non blanditiis doloremque ducimus distinctio dolorem qui soluta ex suscipit nisi deserunt! Ab, temporibus enim!</p>
    <h4>Our Vilage</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nesciunt amet laudantium neque earum aperiam beatae dolor quaerat consequatur quidem! Minima voluptas ratione unde. Praesentium assumenda molestias inventore ea voluptate.</p>
    <img class="d-flex justify-content-center" src="https://cdn.pixabay.com/photo/2017/05/24/12/20/hill-2340408_1280.jpg" style="height: 400px; width: auto;" alt="">
    <img src="https://cdn.pixabay.com/photo/2020/05/28/12/48/trento-5231096_1280.jpg" alt="">
    <img src="https://cdn.pixabay.com/photo/2016/09/23/16/43/alley-1690053_1280.jpg" alt="">
</div>