<div class="bgImg">
    <div class="text">
        <h1>Ristorante Il Gambero Rosso</h1>
        <p>Delivering great food for more than 18 years</p>
        <button routerLink="/menu">Our Menu</button><button>Book a table</button>
    </div>
</div>
<div class="container">
    <h1 class="text-center pt-3">Ristorante Il Gambero Rosso</h1>
    <div class="row row-cols-lg-2 row-cols-md-1 row-cols-sm-1 p-3">
        <img src="https://cdn.pixabay.com/photo/2016/11/21/13/04/alcoholic-beverages-1845295_1280.jpg" alt="">
        <div>
            <h3>Lorem ipsum dolor sit amet <span class="textBold"> consectetur adipisicing elit.</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum exercitationem culpa dolorem modi repudiandae a, facilis mollitia, laboriosam blanditiis, quam ratione in fuga distinctio error tenetur id sapiente ea? Numquam!</p>
            <ul>
                <li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, vel.</p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, vel.</p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, vel.</p>
                </li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum exercitationem culpa dolorem modi repudiandae a, facilis mollitia, laboriosam blanditiis, quam ratione in fuga distinctio error tenetur id sapiente ea? Numquam!</p>
        </div>
    </div>
</div>
<div class="bgcol">
    <div class="container">
        <div class="choose ">
            <h2 class="text-center pt-3">Why choose us?</h2>
            <p class="text-center">Lorem ipsum dolor sit adipisicing elit. Accusamus facere vero rerum explicabo eligendi deserunt quaerat harum ad molestiae consequuntur.</p>
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
                <div>
                    <p>01</p>
                    <h4>Babidibebu</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nobis ad facere, porro deleniti enim distinctio alias ratione laboriosam molestiae perspiciatis ullam quibusdam. Nemo libero minus ipsa corporis mollitia quo!</p>
                </div>
                <div>
                    <p>02</p>
                    <h4>Babidibubu</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nobis ad facere, porro deleniti enim distinctio alias ratione laboriosam molestiae perspiciatis ullam quibusdam. Nemo libero minus ipsa corporis mollitia quo!</p>
                </div>
                <div>
                    <p>03</p>
                    <h4>Babidibabu</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nobis ad facere, porro deleniti enim distinctio alias ratione laboriosam molestiae perspiciatis ullam quibusdam. Nemo libero minus ipsa corporis mollitia quo!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container2 pt-3">
    <h2 class="text-center">Check our specials</h2>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        <div class="text-center pxy-3">

            <p class="btn btn-primary">Blaborium ead fakulti est</p><br>
            <p class="btn btn-primary">Blaborium ead fakulti est</p><br>
            <p class="btn btn-primary">Blaborium ead fakulti est</p><br>
            <p class="btn btn-primary">Mod mulifaris bakarti est</p>
        </div>
        <div>
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p class="pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad maxime, eos consequatur veniam incidunt quidem! Autem quaerat sapiente sequi earum. Aspernatur rerum necessitatibus omnis fugiat, corrupti accusantium dolorem molestias deleniti!</p>
        </div>
        <div>
            <img class="pb-2" src="https://cdn.pixabay.com/photo/2016/09/15/19/24/salad-1672505_1280.jpg" alt="">
        </div>
    </div>

</div>